*{
  padding: 0;
  margin: 0;
}

/* ESTILOS MODIFICADOS DE LOS ESTILOS */
.home-icon{
  font-size: 30px;
  margin-left: 10px;
  cursor: pointer;
  transition-duration: 1s;
}
.home-icon:hover{
  color: rgb(0, 153, 255)
}
/* FIN */